@{
    ViewData["Title"] = "Home";
}

<div class="container pt-4">
    <div class="row">
        <div class="col-4">
            <a class="twitter-timeline" data-width="400" data-height="500" data-dnt="true" data-theme="light" href="https://twitter.com/dotnetfdn?ref_src=twsrc%5Etfw">Tweets by dotnetfdn</a>
        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="display-4">
                    Welcome, to Clienta
                </h1>
                <p class="lead">An easy place for staff to create, manage, and assign clients </p>
                <hr class="my-4">
                <p>Please click on one of the navigational tabs at the top left of the page to use the system</p>
            </div>
        </div>
    </div>
</div>